body {
    background-color: #9DAF93;
    padding: 1rem 18rem;
}

/* Scroll ned animation */
/*Der er lavet 12 af dem så JavaScript kan gå ned og tage fat i den rigtige div, til at scrool ned */
.lottie-container, 
.lottie-container-2,
.lottie-container-3, 
.lottie-container-4, 
.lottie-container-5,
.lottie-container-6,
.lottie-container-7,
.lottie-container-8,
.lottie-container-9,
.lottie-container-10,
.lottie-container-11,
.lottie-container-12,
.lottie-container-13 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem auto 0;
  cursor: pointer;
  width: 10%;
}

lottie-player {
  width: 85px;
  height: 75px;
  filter: brightness(0);
}

/*Overskrift*/
.overskrift {
    text-align: center;
    font-size: 14px;
}

/*Logo*/
.steno-logo img {
    margin: 0 auto;
    display: block;
    max-width: 8rem;
}

/* Velkomst ord */
.forord {
    text-align: center;
    font-size: 15px;
}

/*Tidslinje Start*/
.timeline {
  width:60%;
  height: 2px; /* Tykkelsen af tidslinjen */
  background-color: black; /* Farven på tidslinjen */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem auto; /* Centrerer tidslinjen vandret */
  position: relative; /* Til placering af punkter */
}

.line {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.point {
  width: 15px; /* Diameteren på punkterne */
  height: 15px;
  background-color: white;
  border-radius: 100%; /* Gør punkterne runde */
  position: absolute;
  top: -1;
}

.point:nth-child(odd)::after {
  content: attr(data-year);
  font-size: 20px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  color: black; /* Ændrer farven på årstallet */
}

.point:nth-child(even)::after {
  content: attr(data-year);
  font-size: 20px;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  color: black; /* Ændrer farven på årstallet */
}

.point:nth-child(7) { left: 0%; }
.point:nth-child(2) { left: 7.6%; }
.point:nth-child(3) { left: 16%; }
.point:nth-child(4) { left: 24%; }
.point:nth-child(5) { left: 33%; }
.point:nth-child(6) { left: 42%; }
.point:nth-child(8) { left: 61%; }
.point:nth-child(9) { left: 72%; }
.point:nth-child(10) { left: 82%; }
.point:nth-child(11) { left: 92%; }
.point:nth-child(12) { left: 100%; }
.point:nth-child(13) { left: 52%; }

/*Tidslinje Slut*/

/*Animeret silloutte*/
.kvinde img {
    display: block;
    margin: -3rem auto;
    max-width: 40rem;
}

/* Udforsk tidslinje knap*/
.udforsk-tidslinje {
    text-align: center;
    border: .5px solid black;
    border-radius: 10px;
    margin: 3rem auto;
    display: block;
    color: black;
    background-color: white;
    padding: 7px;
    width: 10rem;
    font-weight: bold;
}

/*Udforsk tidslinje knap hover effekt*/
.udforsk-tidslinje:hover {
    color: black;
    background-color: rgb(232, 229, 229);
    cursor: pointer;
}


/*Sandt eller falsk knap*/

/* Knap i højre side*/
.sf-knap {
display: flex;
justify-content: flex-end;
z-index: -1000;
margin-top: -5rem;
}

.sf-knap button {
  padding: 10px 20px;
  font-size: 16px;
}

.sf-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

#sf-trueBtn, #sf-falseBtn {
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem;
  background-color: white;
  color: black;
  padding: .5rem;
  cursor: pointer;
}

#sf-trueBtn:hover, #sf-falseBtn:hover{
  background-color: rgb(232, 229, 229);
  color: black;
}

 #sf-popup.green {
  background-color: green; /* Stil for grøn baggrundsfarve */
}

#sf-popup.red{
  background-color: red; /* Stil for rød baggrundsfarve */
}

.sf-popup-content {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 40rem;
  display: block;
  margin: 10rem auto 0 auto;
  background-color: #9DAF93;
}

.sf-close {
  position: fixed;
  top: 11rem;
  right: 28rem;
  font-size: 20px;
  cursor: pointer;
}

/* Knap i venstre side */

.sf-knap-left {
  display: flex;
  justify-content: flex-start;
  z-index: -1000;
  margin-top: -5rem;
  }
  
  .sf-knap-left button {
    padding: 10px 20px;
    font-size: 16px;
  }

/*Styling til når silluette er til venstre*/

.container-1900, 
.container-1920, 
.container-1940, 
.container-1960, 
.container-1980, 
.container-2000, 
.container-nu {
    display: flex;
    margin-top: 25rem;
  }
  
  
  .tekst-1900,
  .tekst-1920,
  .tekst-1940,
  .tekst-1960,
  .tekst-1980,
  .tekst-2000,
  .tekst-nu {
    margin-left: 20px;
    width: 200rem;
  }

  .tekst-1900 h2, 
  .tekst-1920 h2,
  .tekst-1940 h2,
  .tekst-1960 h2,
  .tekst-1980 h2,
  .tekst-2000 h2,
  .tekst-nu h2 {
    text-align: center;
  }
  

  .img-1900 img,
  .img-1920 img,
  .img-1940 img,
  .img-1960 img,
  .img-1980 img,
  .img-2000 img,
  .img-nu img {
    max-width: 80%;
    height: auto;
  }



/*Styling til når silluette er til højre*/

.tekst-1910 h2, 
.tekst-1930 h2,
.tekst-1950 h2,
.tekst-1970 h2,
.tekst-1990 h2,
.tekst-2010 h2 {
text-align: center;
}

.tekst-1910, 
.tekst-1930,
.tekst-1950,
.tekst-1970,
.tekst-1990,
.tekst-2010 {
  margin-right: 20px;
  width: 200rem;
}

.container-1910, 
.container-1930,
.container-1950,
.container-1970,
.container-1990,
.container-2010 {
  display: flex;
  margin-top: 20rem;
}

.img-1910 img, 
.img-1930 img,
.img-1950 img,
.img-1970 img,
.img-1990 img,
.img-2010 img {
  max-width: 80%;
  height: auto;
}



/*fade in*/

.container-1910, .img-1910, .tekst-1910 {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Tilføj en overgangseffekt */
}
.container-1910.fade-in, .img-1910.fade-in, .tekst-1910.fade-in {
  opacity: 1;
}


/*baggrundsfarve skifte*/
body {
  background-color: #9DAF93; /* Grøn baggrundsfarve */
  transition: background-color 0.5s ease-in-out; /* Tilføj en overgangseffekt */
}
body.fade-in {
  background-color: #9EBBB7; /* Ændre baggrundsfarven til hvid */
}



.breadcrumb-container {
  position: relative;
  height: 100%;
}

.breadcrumb {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
  pointer-events: none;
}

.point-year {
  color: white;
  font-size: 20px;
  padding: 10px;
  transition: font-size 0.3s;
}

.point-year.active {
  font-size: 30px;
  font-weight: bold
}



.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.popup-content {
  text-align: center;
}

.popup-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.popup-btn:hover {
  background-color: #0056b3;
}

.true-btn, .false-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.true-btn:hover, .false-btn:hover {
  opacity: 0.8;
}



.gif-container {
  display: flex;
  justify-content: center;
}

.gif-container img {
  max-width: 20%;
  height: auto;
  margin: 0 5px;
}

.tilbage-til-start {
  text-align: center;
  margin-top: 5rem;
}

.tilbage-til-start a {
  text-decoration: none;
  color: black;
  border: 1px black solid;
  padding: .5rem;
  border-radius: 10px;
}