/* Effekter for 1900-sektionen */ /* Fade in oppe fra animation */ 
.container-1900, .img-1900, .tekst-1900 {
    opacity: 0;
    transform: translateY(-40px); /* Flyt elementerne nedad med 100px */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Tilføj overgangseffekter */
}
.container-1900.fade-in, .img-1900.fade-in, .tekst-1900.fade-in {
    opacity: 1;
    transform: translateY(0); /* Flyt elementerne tilbage til deres oprindelige position */
}


/*fade in*/

.container-1910, .img-1910, .tekst-1910 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Tilføj en overgangseffekt */
  }
  .container-1910.fade-in, .img-1910.fade-in, .tekst-1910.fade-in {
    opacity: 1;
  }


/*baggrundsfarve skifte*/
  body {
    background-color: #9DAF93; /* Grøn baggrundsfarve */
    transition: background-color 0.5s ease-in-out; /* Tilføj en overgangseffekt */
  }
  body.fade-in {
    background-color: #9EBBB7; /* Ændre baggrundsfarven til hvid */
  }
